*.pyc
*.pyo
*~
docs/_build
unittests/temp
unittests/data/pygccxml.cache
unittests/data/directory_cache_test
unittests/data/ogre.1.7.xml
.idea
dist
build
pygccxml.egg-info
*.prof
.coverage*
docs/examples/caching/example.hpp.xml
test_cost.log
docs/apidocs
htmlcov
/venv/
