include LICENSE_1_0.txt
include MANIFEST.in
include unittests/*.py
include unittests/data/*.hpp
include unittests/data/*.xml
include unittests/data/*.txt
recursive-include docs/apidocs *.css
recursive-include docs/apidocs *.html
include docs/*.rest
include docs/*.png
include docs/example/*
include docs/history/*
prune docs/*/.svn